/* grid css start form here */

/*! bulma.io v0.9.0 | MIT License | github.com/jgthms/bulma */
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

.columns.is-mobile > .column.is-narrow {
    flex: none;
}

.columns.is-mobile > .column.is-full {
    flex: none;
    width: 100%;
}

.columns.is-mobile > .column.is-three-quarters {
    flex: none;
    width: 75%;
}

.columns.is-mobile > .column.is-two-thirds {
    flex: none;
    width: 66.6666%;
}

.columns.is-mobile > .column.is-half {
    flex: none;
    width: 50%;
}

.columns.is-mobile > .column.is-one-third {
    flex: none;
    width: 33.3333%;
}

.columns.is-mobile > .column.is-one-quarter {
    flex: none;
    width: 25%;
}

.columns.is-mobile > .column.is-one-fifth {
    flex: none;
    width: 20%;
}

.columns.is-mobile > .column.is-two-fifths {
    flex: none;
    width: 40%;
}

.columns.is-mobile > .column.is-three-fifths {
    flex: none;
    width: 60%;
}

.columns.is-mobile > .column.is-four-fifths {
    flex: none;
    width: 80%;
}

.columns.is-mobile > .column.is-offset-three-quarters {
    margin-left: 75%;
}

.columns.is-mobile > .column.is-offset-two-thirds {
    margin-left: 66.6666%;
}

.columns.is-mobile > .column.is-offset-half {
    margin-left: 50%;
}

.columns.is-mobile > .column.is-offset-one-third {
    margin-left: 33.3333%;
}

.columns.is-mobile > .column.is-offset-one-quarter {
    margin-left: 25%;
}

.columns.is-mobile > .column.is-offset-one-fifth {
    margin-left: 20%;
}

.columns.is-mobile > .column.is-offset-two-fifths {
    margin-left: 40%;
}

.columns.is-mobile > .column.is-offset-three-fifths {
    margin-left: 60%;
}

.columns.is-mobile > .column.is-offset-four-fifths {
    margin-left: 80%;
}

.columns.is-mobile > .column.is-0 {
    flex: none;
    width: 0%;
}

.columns.is-mobile > .column.is-offset-0 {
    margin-left: 0%;
}

.columns.is-mobile > .column.is-1 {
    flex: none;
    width: 8.33333%;
}

.columns.is-mobile > .column.is-offset-1 {
    margin-left: 8.33333%;
}

.columns.is-mobile > .column.is-2 {
    flex: none;
    width: 16.66667%;
}

.columns.is-mobile > .column.is-offset-2 {
    margin-left: 16.66667%;
}

.columns.is-mobile > .column.is-3 {
    flex: none;
    width: 25%;
}

.columns.is-mobile > .column.is-offset-3 {
    margin-left: 25%;
}

.columns.is-mobile > .column.is-4 {
    flex: none;
    width: 33.33333%;
}

.columns.is-mobile > .column.is-offset-4 {
    margin-left: 33.33333%;
}

.columns.is-mobile > .column.is-5 {
    flex: none;
    width: 41.66667%;
}

.columns.is-mobile > .column.is-offset-5 {
    margin-left: 41.66667%;
}

.columns.is-mobile > .column.is-6 {
    flex: none;
    width: 50%;
}

.columns.is-mobile > .column.is-offset-6 {
    margin-left: 50%;
}

.columns.is-mobile > .column.is-7 {
    flex: none;
    width: 58.33333%;
}

.columns.is-mobile > .column.is-offset-7 {
    margin-left: 58.33333%;
}

.columns.is-mobile > .column.is-8 {
    flex: none;
    width: 66.66667%;
}

.columns.is-mobile > .column.is-offset-8 {
    margin-left: 66.66667%;
}

.columns.is-mobile > .column.is-9 {
    flex: none;
    width: 75%;
}

.columns.is-mobile > .column.is-offset-9 {
    margin-left: 75%;
}

.columns.is-mobile > .column.is-10 {
    flex: none;
    width: 83.33333%;
}

.columns.is-mobile > .column.is-offset-10 {
    margin-left: 83.33333%;
}

.columns.is-mobile > .column.is-11 {
    flex: none;
    width: 91.66667%;
}

.columns.is-mobile > .column.is-offset-11 {
    margin-left: 91.66667%;
}

.columns.is-mobile > .column.is-12 {
    flex: none;
    width: 100%;
}

.columns.is-mobile > .column.is-offset-12 {
    margin-left: 100%;
}

@media screen and (max-width: 768px) {
    .column.is-narrow-mobile {
        flex: none;
    }
    .column.is-full-mobile {
        flex: none;
        width: 100%;
    }
    .column.is-three-quarters-mobile {
        flex: none;
        width: 75%;
    }
    .column.is-two-thirds-mobile {
        flex: none;
        width: 66.6666%;
    }
    .column.is-half-mobile {
        flex: none;
        width: 50%;
    }
    .column.is-one-third-mobile {
        flex: none;
        width: 33.3333%;
    }
    .column.is-one-quarter-mobile {
        flex: none;
        width: 25%;
    }
    .column.is-one-fifth-mobile {
        flex: none;
        width: 20%;
    }
    .column.is-two-fifths-mobile {
        flex: none;
        width: 40%;
    }
    .column.is-three-fifths-mobile {
        flex: none;
        width: 60%;
    }
    .column.is-four-fifths-mobile {
        flex: none;
        width: 80%;
    }
    .column.is-offset-three-quarters-mobile {
        margin-left: 75%;
    }
    .column.is-offset-two-thirds-mobile {
        margin-left: 66.6666%;
    }
    .column.is-offset-half-mobile {
        margin-left: 50%;
    }
    .column.is-offset-one-third-mobile {
        margin-left: 33.3333%;
    }
    .column.is-offset-one-quarter-mobile {
        margin-left: 25%;
    }
    .column.is-offset-one-fifth-mobile {
        margin-left: 20%;
    }
    .column.is-offset-two-fifths-mobile {
        margin-left: 40%;
    }
    .column.is-offset-three-fifths-mobile {
        margin-left: 60%;
    }
    .column.is-offset-four-fifths-mobile {
        margin-left: 80%;
    }
    .column.is-0-mobile {
        flex: none;
        width: 0%;
    }
    .column.is-offset-0-mobile {
        margin-left: 0%;
    }
    .column.is-1-mobile {
        flex: none;
        width: 8.33333%;
    }
    .column.is-offset-1-mobile {
        margin-left: 8.33333%;
    }
    .column.is-2-mobile {
        flex: none;
        width: 16.66667%;
    }
    .column.is-offset-2-mobile {
        margin-left: 16.66667%;
    }
    .column.is-3-mobile {
        flex: none;
        width: 25%;
    }
    .column.is-offset-3-mobile {
        margin-left: 25%;
    }
    .column.is-4-mobile {
        flex: none;
        width: 33.33333%;
    }
    .column.is-offset-4-mobile {
        margin-left: 33.33333%;
    }
    .column.is-5-mobile {
        flex: none;
        width: 41.66667%;
    }
    .column.is-offset-5-mobile {
        margin-left: 41.66667%;
    }
    .column.is-6-mobile {
        flex: none;
        width: 50%;
    }
    .column.is-offset-6-mobile {
        margin-left: 50%;
    }
    .column.is-7-mobile {
        flex: none;
        width: 58.33333%;
    }
    .column.is-offset-7-mobile {
        margin-left: 58.33333%;
    }
    .column.is-8-mobile {
        flex: none;
        width: 66.66667%;
    }
    .column.is-offset-8-mobile {
        margin-left: 66.66667%;
    }
    .column.is-9-mobile {
        flex: none;
        width: 75%;
    }
    .column.is-offset-9-mobile {
        margin-left: 75%;
    }
    .column.is-10-mobile {
        flex: none;
        width: 83.33333%;
    }
    .column.is-offset-10-mobile {
        margin-left: 83.33333%;
    }
    .column.is-11-mobile {
        flex: none;
        width: 91.66667%;
    }
    .column.is-offset-11-mobile {
        margin-left: 91.66667%;
    }
    .column.is-12-mobile {
        flex: none;
        width: 100%;
    }
    .column.is-offset-12-mobile {
        margin-left: 100%;
    }
}

@media screen and (min-width: 769px), print {
    .column.is-narrow, .column.is-narrow-tablet {
        flex: none;
    }
    .column.is-full, .column.is-full-tablet {
        flex: none;
        width: 100%;
    }
    .column.is-three-quarters, .column.is-three-quarters-tablet {
        flex: none;
        width: 75%;
    }
    .column.is-two-thirds, .column.is-two-thirds-tablet {
        flex: none;
        width: 66.6666%;
    }
    .column.is-half, .column.is-half-tablet {
        flex: none;
        width: 50%;
    }
    .column.is-one-third, .column.is-one-third-tablet {
        flex: none;
        width: 33.3333%;
    }
    .column.is-one-quarter, .column.is-one-quarter-tablet {
        flex: none;
        width: 25%;
    }
    .column.is-one-fifth, .column.is-one-fifth-tablet {
        flex: none;
        width: 20%;
    }
    .column.is-two-fifths, .column.is-two-fifths-tablet {
        flex: none;
        width: 40%;
    }
    .column.is-three-fifths, .column.is-three-fifths-tablet {
        flex: none;
        width: 60%;
    }
    .column.is-four-fifths, .column.is-four-fifths-tablet {
        flex: none;
        width: 80%;
    }
    .column.is-offset-three-quarters, .column.is-offset-three-quarters-tablet {
        margin-left: 75%;
    }
    .column.is-offset-two-thirds, .column.is-offset-two-thirds-tablet {
        margin-left: 66.6666%;
    }
    .column.is-offset-half, .column.is-offset-half-tablet {
        margin-left: 50%;
    }
    .column.is-offset-one-third, .column.is-offset-one-third-tablet {
        margin-left: 33.3333%;
    }
    .column.is-offset-one-quarter, .column.is-offset-one-quarter-tablet {
        margin-left: 25%;
    }
    .column.is-offset-one-fifth, .column.is-offset-one-fifth-tablet {
        margin-left: 20%;
    }
    .column.is-offset-two-fifths, .column.is-offset-two-fifths-tablet {
        margin-left: 40%;
    }
    .column.is-offset-three-fifths, .column.is-offset-three-fifths-tablet {
        margin-left: 60%;
    }
    .column.is-offset-four-fifths, .column.is-offset-four-fifths-tablet {
        margin-left: 80%;
    }
    .column.is-0, .column.is-0-tablet {
        flex: none;
        width: 0%;
    }
    .column.is-offset-0, .column.is-offset-0-tablet {
        margin-left: 0%;
    }
    .column.is-1, .column.is-1-tablet {
        flex: none;
        width: 8.33333%;
    }
    .column.is-offset-1, .column.is-offset-1-tablet {
        margin-left: 8.33333%;
    }
    .column.is-2, .column.is-2-tablet {
        flex: none;
        width: 16.66667%;
    }
    .column.is-offset-2, .column.is-offset-2-tablet {
        margin-left: 16.66667%;
    }
    .column.is-3, .column.is-3-tablet {
        flex: none;
        width: 25%;
    }
    .column.is-offset-3, .column.is-offset-3-tablet {
        margin-left: 25%;
    }
    .column.is-4, .column.is-4-tablet {
        flex: none;
        width: 33.33333%;
    }
    .column.is-offset-4, .column.is-offset-4-tablet {
        margin-left: 33.33333%;
    }
    .column.is-5, .column.is-5-tablet {
        flex: none;
        width: 41.66667%;
    }
    .column.is-offset-5, .column.is-offset-5-tablet {
        margin-left: 41.66667%;
    }
    .column.is-6, .column.is-6-tablet {
        flex: none;
        width: 50%;
    }
    .column.is-offset-6, .column.is-offset-6-tablet {
        margin-left: 50%;
    }
    .column.is-7, .column.is-7-tablet {
        flex: none;
        width: 58.33333%;
    }
    .column.is-offset-7, .column.is-offset-7-tablet {
        margin-left: 58.33333%;
    }
    .column.is-8, .column.is-8-tablet {
        flex: none;
        width: 66.66667%;
    }
    .column.is-offset-8, .column.is-offset-8-tablet {
        margin-left: 66.66667%;
    }
    .column.is-9, .column.is-9-tablet {
        flex: none;
        width: 75%;
    }
    .column.is-offset-9, .column.is-offset-9-tablet {
        margin-left: 75%;
    }
    .column.is-10, .column.is-10-tablet {
        flex: none;
        width: 83.33333%;
    }
    .column.is-offset-10, .column.is-offset-10-tablet {
        margin-left: 83.33333%;
    }
    .column.is-11, .column.is-11-tablet {
        flex: none;
        width: 91.66667%;
    }
    .column.is-offset-11, .column.is-offset-11-tablet {
        margin-left: 91.66667%;
    }
    .column.is-12, .column.is-12-tablet {
        flex: none;
        width: 100%;
    }
    .column.is-offset-12, .column.is-offset-12-tablet {
        margin-left: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .column.is-narrow-touch {
        flex: none;
    }
    .column.is-full-touch {
        flex: none;
        width: 100%;
    }
    .column.is-three-quarters-touch {
        flex: none;
        width: 75%;
    }
    .column.is-two-thirds-touch {
        flex: none;
        width: 66.6666%;
    }
    .column.is-half-touch {
        flex: none;
        width: 50%;
    }
    .column.is-one-third-touch {
        flex: none;
        width: 33.3333%;
    }
    .column.is-one-quarter-touch {
        flex: none;
        width: 25%;
    }
    .column.is-one-fifth-touch {
        flex: none;
        width: 20%;
    }
    .column.is-two-fifths-touch {
        flex: none;
        width: 40%;
    }
    .column.is-three-fifths-touch {
        flex: none;
        width: 60%;
    }
    .column.is-four-fifths-touch {
        flex: none;
        width: 80%;
    }
    .column.is-offset-three-quarters-touch {
        margin-left: 75%;
    }
    .column.is-offset-two-thirds-touch {
        margin-left: 66.6666%;
    }
    .column.is-offset-half-touch {
        margin-left: 50%;
    }
    .column.is-offset-one-third-touch {
        margin-left: 33.3333%;
    }
    .column.is-offset-one-quarter-touch {
        margin-left: 25%;
    }
    .column.is-offset-one-fifth-touch {
        margin-left: 20%;
    }
    .column.is-offset-two-fifths-touch {
        margin-left: 40%;
    }
    .column.is-offset-three-fifths-touch {
        margin-left: 60%;
    }
    .column.is-offset-four-fifths-touch {
        margin-left: 80%;
    }
    .column.is-0-touch {
        flex: none;
        width: 0%;
    }
    .column.is-offset-0-touch {
        margin-left: 0%;
    }
    .column.is-1-touch {
        flex: none;
        width: 8.33333%;
    }
    .column.is-offset-1-touch {
        margin-left: 8.33333%;
    }
    .column.is-2-touch {
        flex: none;
        width: 16.66667%;
    }
    .column.is-offset-2-touch {
        margin-left: 16.66667%;
    }
    .column.is-3-touch {
        flex: none;
        width: 25%;
    }
    .column.is-offset-3-touch {
        margin-left: 25%;
    }
    .column.is-4-touch {
        flex: none;
        width: 33.33333%;
    }
    .column.is-offset-4-touch {
        margin-left: 33.33333%;
    }
    .column.is-5-touch {
        flex: none;
        width: 41.66667%;
    }
    .column.is-offset-5-touch {
        margin-left: 41.66667%;
    }
    .column.is-6-touch {
        flex: none;
        width: 50%;
    }
    .column.is-offset-6-touch {
        margin-left: 50%;
    }
    .column.is-7-touch {
        flex: none;
        width: 58.33333%;
    }
    .column.is-offset-7-touch {
        margin-left: 58.33333%;
    }
    .column.is-8-touch {
        flex: none;
        width: 66.66667%;
    }
    .column.is-offset-8-touch {
        margin-left: 66.66667%;
    }
    .column.is-9-touch {
        flex: none;
        width: 75%;
    }
    .column.is-offset-9-touch {
        margin-left: 75%;
    }
    .column.is-10-touch {
        flex: none;
        width: 83.33333%;
    }
    .column.is-offset-10-touch {
        margin-left: 83.33333%;
    }
    .column.is-11-touch {
        flex: none;
        width: 91.66667%;
    }
    .column.is-offset-11-touch {
        margin-left: 91.66667%;
    }
    .column.is-12-touch {
        flex: none;
        width: 100%;
    }
    .column.is-offset-12-touch {
        margin-left: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .column.is-narrow-desktop {
        flex: none;
    }
    .column.is-full-desktop {
        flex: none;
        width: 100%;
    }
    .column.is-three-quarters-desktop {
        flex: none;
        width: 75%;
    }
    .column.is-two-thirds-desktop {
        flex: none;
        width: 66.6666%;
    }
    .column.is-half-desktop {
        flex: none;
        width: 50%;
    }
    .column.is-one-third-desktop {
        flex: none;
        width: 33.3333%;
    }
    .column.is-one-quarter-desktop {
        flex: none;
        width: 25%;
    }
    .column.is-one-fifth-desktop {
        flex: none;
        width: 20%;
    }
    .column.is-two-fifths-desktop {
        flex: none;
        width: 40%;
    }
    .column.is-three-fifths-desktop {
        flex: none;
        width: 60%;
    }
    .column.is-four-fifths-desktop {
        flex: none;
        width: 80%;
    }
    .column.is-offset-three-quarters-desktop {
        margin-left: 75%;
    }
    .column.is-offset-two-thirds-desktop {
        margin-left: 66.6666%;
    }
    .column.is-offset-half-desktop {
        margin-left: 50%;
    }
    .column.is-offset-one-third-desktop {
        margin-left: 33.3333%;
    }
    .column.is-offset-one-quarter-desktop {
        margin-left: 25%;
    }
    .column.is-offset-one-fifth-desktop {
        margin-left: 20%;
    }
    .column.is-offset-two-fifths-desktop {
        margin-left: 40%;
    }
    .column.is-offset-three-fifths-desktop {
        margin-left: 60%;
    }
    .column.is-offset-four-fifths-desktop {
        margin-left: 80%;
    }
    .column.is-0-desktop {
        flex: none;
        width: 0%;
    }
    .column.is-offset-0-desktop {
        margin-left: 0%;
    }
    .column.is-1-desktop {
        flex: none;
        width: 8.33333%;
    }
    .column.is-offset-1-desktop {
        margin-left: 8.33333%;
    }
    .column.is-2-desktop {
        flex: none;
        width: 16.66667%;
    }
    .column.is-offset-2-desktop {
        margin-left: 16.66667%;
    }
    .column.is-3-desktop {
        flex: none;
        width: 25%;
    }
    .column.is-offset-3-desktop {
        margin-left: 25%;
    }
    .column.is-4-desktop {
        flex: none;
        width: 33.33333%;
    }
    .column.is-offset-4-desktop {
        margin-left: 33.33333%;
    }
    .column.is-5-desktop {
        flex: none;
        width: 41.66667%;
    }
    .column.is-offset-5-desktop {
        margin-left: 41.66667%;
    }
    .column.is-6-desktop {
        flex: none;
        width: 50%;
    }
    .column.is-offset-6-desktop {
        margin-left: 50%;
    }
    .column.is-7-desktop {
        flex: none;
        width: 58.33333%;
    }
    .column.is-offset-7-desktop {
        margin-left: 58.33333%;
    }
    .column.is-8-desktop {
        flex: none;
        width: 66.66667%;
    }
    .column.is-offset-8-desktop {
        margin-left: 66.66667%;
    }
    .column.is-9-desktop {
        flex: none;
        width: 75%;
    }
    .column.is-offset-9-desktop {
        margin-left: 75%;
    }
    .column.is-10-desktop {
        flex: none;
        width: 83.33333%;
    }
    .column.is-offset-10-desktop {
        margin-left: 83.33333%;
    }
    .column.is-11-desktop {
        flex: none;
        width: 91.66667%;
    }
    .column.is-offset-11-desktop {
        margin-left: 91.66667%;
    }
    .column.is-12-desktop {
        flex: none;
        width: 100%;
    }
    .column.is-offset-12-desktop {
        margin-left: 100%;
    }
}

@media screen and (min-width: 1216px) {
    .column.is-narrow-widescreen {
        flex: none;
    }
    .column.is-full-widescreen {
        flex: none;
        width: 100%;
    }
    .column.is-three-quarters-widescreen {
        flex: none;
        width: 75%;
    }
    .column.is-two-thirds-widescreen {
        flex: none;
        width: 66.6666%;
    }
    .column.is-half-widescreen {
        flex: none;
        width: 50%;
    }
    .column.is-one-third-widescreen {
        flex: none;
        width: 33.3333%;
    }
    .column.is-one-quarter-widescreen {
        flex: none;
        width: 25%;
    }
    .column.is-one-fifth-widescreen {
        flex: none;
        width: 20%;
    }
    .column.is-two-fifths-widescreen {
        flex: none;
        width: 40%;
    }
    .column.is-three-fifths-widescreen {
        flex: none;
        width: 60%;
    }
    .column.is-four-fifths-widescreen {
        flex: none;
        width: 80%;
    }
    .column.is-offset-three-quarters-widescreen {
        margin-left: 75%;
    }
    .column.is-offset-two-thirds-widescreen {
        margin-left: 66.6666%;
    }
    .column.is-offset-half-widescreen {
        margin-left: 50%;
    }
    .column.is-offset-one-third-widescreen {
        margin-left: 33.3333%;
    }
    .column.is-offset-one-quarter-widescreen {
        margin-left: 25%;
    }
    .column.is-offset-one-fifth-widescreen {
        margin-left: 20%;
    }
    .column.is-offset-two-fifths-widescreen {
        margin-left: 40%;
    }
    .column.is-offset-three-fifths-widescreen {
        margin-left: 60%;
    }
    .column.is-offset-four-fifths-widescreen {
        margin-left: 80%;
    }
    .column.is-0-widescreen {
        flex: none;
        width: 0%;
    }
    .column.is-offset-0-widescreen {
        margin-left: 0%;
    }
    .column.is-1-widescreen {
        flex: none;
        width: 8.33333%;
    }
    .column.is-offset-1-widescreen {
        margin-left: 8.33333%;
    }
    .column.is-2-widescreen {
        flex: none;
        width: 16.66667%;
    }
    .column.is-offset-2-widescreen {
        margin-left: 16.66667%;
    }
    .column.is-3-widescreen {
        flex: none;
        width: 25%;
    }
    .column.is-offset-3-widescreen {
        margin-left: 25%;
    }
    .column.is-4-widescreen {
        flex: none;
        width: 33.33333%;
    }
    .column.is-offset-4-widescreen {
        margin-left: 33.33333%;
    }
    .column.is-5-widescreen {
        flex: none;
        width: 41.66667%;
    }
    .column.is-offset-5-widescreen {
        margin-left: 41.66667%;
    }
    .column.is-6-widescreen {
        flex: none;
        width: 50%;
    }
    .column.is-offset-6-widescreen {
        margin-left: 50%;
    }
    .column.is-7-widescreen {
        flex: none;
        width: 58.33333%;
    }
    .column.is-offset-7-widescreen {
        margin-left: 58.33333%;
    }
    .column.is-8-widescreen {
        flex: none;
        width: 66.66667%;
    }
    .column.is-offset-8-widescreen {
        margin-left: 66.66667%;
    }
    .column.is-9-widescreen {
        flex: none;
        width: 75%;
    }
    .column.is-offset-9-widescreen {
        margin-left: 75%;
    }
    .column.is-10-widescreen {
        flex: none;
        width: 83.33333%;
    }
    .column.is-offset-10-widescreen {
        margin-left: 83.33333%;
    }
    .column.is-11-widescreen {
        flex: none;
        width: 91.66667%;
    }
    .column.is-offset-11-widescreen {
        margin-left: 91.66667%;
    }
    .column.is-12-widescreen {
        flex: none;
        width: 100%;
    }
    .column.is-offset-12-widescreen {
        margin-left: 100%;
    }
}

@media screen and (min-width: 1408px) {
    .column.is-narrow-fullhd {
        flex: none;
    }
    .column.is-full-fullhd {
        flex: none;
        width: 100%;
    }
    .column.is-three-quarters-fullhd {
        flex: none;
        width: 75%;
    }
    .column.is-two-thirds-fullhd {
        flex: none;
        width: 66.6666%;
    }
    .column.is-half-fullhd {
        flex: none;
        width: 50%;
    }
    .column.is-one-third-fullhd {
        flex: none;
        width: 33.3333%;
    }
    .column.is-one-quarter-fullhd {
        flex: none;
        width: 25%;
    }
    .column.is-one-fifth-fullhd {
        flex: none;
        width: 20%;
    }
    .column.is-two-fifths-fullhd {
        flex: none;
        width: 40%;
    }
    .column.is-three-fifths-fullhd {
        flex: none;
        width: 60%;
    }
    .column.is-four-fifths-fullhd {
        flex: none;
        width: 80%;
    }
    .column.is-offset-three-quarters-fullhd {
        margin-left: 75%;
    }
    .column.is-offset-two-thirds-fullhd {
        margin-left: 66.6666%;
    }
    .column.is-offset-half-fullhd {
        margin-left: 50%;
    }
    .column.is-offset-one-third-fullhd {
        margin-left: 33.3333%;
    }
    .column.is-offset-one-quarter-fullhd {
        margin-left: 25%;
    }
    .column.is-offset-one-fifth-fullhd {
        margin-left: 20%;
    }
    .column.is-offset-two-fifths-fullhd {
        margin-left: 40%;
    }
    .column.is-offset-three-fifths-fullhd {
        margin-left: 60%;
    }
    .column.is-offset-four-fifths-fullhd {
        margin-left: 80%;
    }
    .column.is-0-fullhd {
        flex: none;
        width: 0%;
    }
    .column.is-offset-0-fullhd {
        margin-left: 0%;
    }
    .column.is-1-fullhd {
        flex: none;
        width: 8.33333%;
    }
    .column.is-offset-1-fullhd {
        margin-left: 8.33333%;
    }
    .column.is-2-fullhd {
        flex: none;
        width: 16.66667%;
    }
    .column.is-offset-2-fullhd {
        margin-left: 16.66667%;
    }
    .column.is-3-fullhd {
        flex: none;
        width: 25%;
    }
    .column.is-offset-3-fullhd {
        margin-left: 25%;
    }
    .column.is-4-fullhd {
        flex: none;
        width: 33.33333%;
    }
    .column.is-offset-4-fullhd {
        margin-left: 33.33333%;
    }
    .column.is-5-fullhd {
        flex: none;
        width: 41.66667%;
    }
    .column.is-offset-5-fullhd {
        margin-left: 41.66667%;
    }
    .column.is-6-fullhd {
        flex: none;
        width: 50%;
    }
    .column.is-offset-6-fullhd {
        margin-left: 50%;
    }
    .column.is-7-fullhd {
        flex: none;
        width: 58.33333%;
    }
    .column.is-offset-7-fullhd {
        margin-left: 58.33333%;
    }
    .column.is-8-fullhd {
        flex: none;
        width: 66.66667%;
    }
    .column.is-offset-8-fullhd {
        margin-left: 66.66667%;
    }
    .column.is-9-fullhd {
        flex: none;
        width: 75%;
    }
    .column.is-offset-9-fullhd {
        margin-left: 75%;
    }
    .column.is-10-fullhd {
        flex: none;
        width: 83.33333%;
    }
    .column.is-offset-10-fullhd {
        margin-left: 83.33333%;
    }
    .column.is-11-fullhd {
        flex: none;
        width: 91.66667%;
    }
    .column.is-offset-11-fullhd {
        margin-left: 91.66667%;
    }
    .column.is-12-fullhd {
        flex: none;
        width: 100%;
    }
    .column.is-offset-12-fullhd {
        margin-left: 100%;
    }
}

.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

.columns:last-child {
    margin-bottom: -0.75rem;
}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem);
}

.columns.is-centered {
    justify-content: center;
}

.columns.is-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.columns.is-gapless > .column {
    margin: 0;
    padding: 0 !important;
}

.columns.is-gapless:not(:last-child) {
    margin-bottom: 1.5rem;
}

.columns.is-gapless:last-child {
    margin-bottom: 0;
}

.columns.is-mobile {
    display: flex;
}

.columns.is-multiline {
    flex-wrap: wrap;
}

.columns.is-vcentered {
    align-items: center;
}

@media screen and (min-width: 769px), print {
    .columns:not(.is-desktop) {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-desktop {
        display: flex;
    }
}

.columns.is-variable {
    --columnGap: 0.75rem;
    margin-left: calc(-1 * var(--columnGap));
    margin-right: calc(-1 * var(--columnGap));
}

.columns.is-variable .column {
    padding-left: var(--columnGap);
    padding-right: var(--columnGap);
}

.columns.is-variable.is-0 {
    --columnGap: 0rem;
}

@media screen and (max-width: 768px) {
    .columns.is-variable.is-0-mobile {
        --columnGap: 0rem;
    }
}

@media screen and (min-width: 769px), print {
    .columns.is-variable.is-0-tablet {
        --columnGap: 0rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .columns.is-variable.is-0-tablet-only {
        --columnGap: 0rem;
    }
}

@media screen and (max-width: 1023px) {
    .columns.is-variable.is-0-touch {
        --columnGap: 0rem;
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-variable.is-0-desktop {
        --columnGap: 0rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .columns.is-variable.is-0-desktop-only {
        --columnGap: 0rem;
    }
}

@media screen and (min-width: 1216px) {
    .columns.is-variable.is-0-widescreen {
        --columnGap: 0rem;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
    .columns.is-variable.is-0-widescreen-only {
        --columnGap: 0rem;
    }
}

@media screen and (min-width: 1408px) {
    .columns.is-variable.is-0-fullhd {
        --columnGap: 0rem;
    }
}

.columns.is-variable.is-1 {
    --columnGap: 0.25rem;
}

@media screen and (max-width: 768px) {
    .columns.is-variable.is-1-mobile {
        --columnGap: 0.25rem;
    }
}

@media screen and (min-width: 769px), print {
    .columns.is-variable.is-1-tablet {
        --columnGap: 0.25rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .columns.is-variable.is-1-tablet-only {
        --columnGap: 0.25rem;
    }
}

@media screen and (max-width: 1023px) {
    .columns.is-variable.is-1-touch {
        --columnGap: 0.25rem;
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-variable.is-1-desktop {
        --columnGap: 0.25rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .columns.is-variable.is-1-desktop-only {
        --columnGap: 0.25rem;
    }
}

@media screen and (min-width: 1216px) {
    .columns.is-variable.is-1-widescreen {
        --columnGap: 0.25rem;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
    .columns.is-variable.is-1-widescreen-only {
        --columnGap: 0.25rem;
    }
}

@media screen and (min-width: 1408px) {
    .columns.is-variable.is-1-fullhd {
        --columnGap: 0.25rem;
    }
}

.columns.is-variable.is-2 {
    --columnGap: 0.5rem;
}

@media screen and (max-width: 768px) {
    .columns.is-variable.is-2-mobile {
        --columnGap: 0.5rem;
    }
}

@media screen and (min-width: 769px), print {
    .columns.is-variable.is-2-tablet {
        --columnGap: 0.5rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .columns.is-variable.is-2-tablet-only {
        --columnGap: 0.5rem;
    }
}

@media screen and (max-width: 1023px) {
    .columns.is-variable.is-2-touch {
        --columnGap: 0.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-variable.is-2-desktop {
        --columnGap: 0.5rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .columns.is-variable.is-2-desktop-only {
        --columnGap: 0.5rem;
    }
}

@media screen and (min-width: 1216px) {
    .columns.is-variable.is-2-widescreen {
        --columnGap: 0.5rem;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
    .columns.is-variable.is-2-widescreen-only {
        --columnGap: 0.5rem;
    }
}

@media screen and (min-width: 1408px) {
    .columns.is-variable.is-2-fullhd {
        --columnGap: 0.5rem;
    }
}

.columns.is-variable.is-3 {
    --columnGap: 0.75rem;
}

@media screen and (max-width: 768px) {
    .columns.is-variable.is-3-mobile {
        --columnGap: 0.75rem;
    }
}

@media screen and (min-width: 769px), print {
    .columns.is-variable.is-3-tablet {
        --columnGap: 0.75rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .columns.is-variable.is-3-tablet-only {
        --columnGap: 0.75rem;
    }
}

@media screen and (max-width: 1023px) {
    .columns.is-variable.is-3-touch {
        --columnGap: 0.75rem;
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-variable.is-3-desktop {
        --columnGap: 0.75rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .columns.is-variable.is-3-desktop-only {
        --columnGap: 0.75rem;
    }
}

@media screen and (min-width: 1216px) {
    .columns.is-variable.is-3-widescreen {
        --columnGap: 0.75rem;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
    .columns.is-variable.is-3-widescreen-only {
        --columnGap: 0.75rem;
    }
}

@media screen and (min-width: 1408px) {
    .columns.is-variable.is-3-fullhd {
        --columnGap: 0.75rem;
    }
}

.columns.is-variable.is-4 {
    --columnGap: 1rem;
}

@media screen and (max-width: 768px) {
    .columns.is-variable.is-4-mobile {
        --columnGap: 1rem;
    }
}

@media screen and (min-width: 769px), print {
    .columns.is-variable.is-4-tablet {
        --columnGap: 1rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .columns.is-variable.is-4-tablet-only {
        --columnGap: 1rem;
    }
}

@media screen and (max-width: 1023px) {
    .columns.is-variable.is-4-touch {
        --columnGap: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-variable.is-4-desktop {
        --columnGap: 1rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .columns.is-variable.is-4-desktop-only {
        --columnGap: 1rem;
    }
}

@media screen and (min-width: 1216px) {
    .columns.is-variable.is-4-widescreen {
        --columnGap: 1rem;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
    .columns.is-variable.is-4-widescreen-only {
        --columnGap: 1rem;
    }
}

@media screen and (min-width: 1408px) {
    .columns.is-variable.is-4-fullhd {
        --columnGap: 1rem;
    }
}

.columns.is-variable.is-5 {
    --columnGap: 1.25rem;
}

@media screen and (max-width: 768px) {
    .columns.is-variable.is-5-mobile {
        --columnGap: 1.25rem;
    }
}

@media screen and (min-width: 769px), print {
    .columns.is-variable.is-5-tablet {
        --columnGap: 1.25rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .columns.is-variable.is-5-tablet-only {
        --columnGap: 1.25rem;
    }
}

@media screen and (max-width: 1023px) {
    .columns.is-variable.is-5-touch {
        --columnGap: 1.25rem;
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-variable.is-5-desktop {
        --columnGap: 1.25rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .columns.is-variable.is-5-desktop-only {
        --columnGap: 1.25rem;
    }
}

@media screen and (min-width: 1216px) {
    .columns.is-variable.is-5-widescreen {
        --columnGap: 1.25rem;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
    .columns.is-variable.is-5-widescreen-only {
        --columnGap: 1.25rem;
    }
}

@media screen and (min-width: 1408px) {
    .columns.is-variable.is-5-fullhd {
        --columnGap: 1.25rem;
    }
}

.columns.is-variable.is-6 {
    --columnGap: 1.5rem;
}

@media screen and (max-width: 768px) {
    .columns.is-variable.is-6-mobile {
        --columnGap: 1.5rem;
    }
}

@media screen and (min-width: 769px), print {
    .columns.is-variable.is-6-tablet {
        --columnGap: 1.5rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .columns.is-variable.is-6-tablet-only {
        --columnGap: 1.5rem;
    }
}

@media screen and (max-width: 1023px) {
    .columns.is-variable.is-6-touch {
        --columnGap: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-variable.is-6-desktop {
        --columnGap: 1.5rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .columns.is-variable.is-6-desktop-only {
        --columnGap: 1.5rem;
    }
}

@media screen and (min-width: 1216px) {
    .columns.is-variable.is-6-widescreen {
        --columnGap: 1.5rem;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
    .columns.is-variable.is-6-widescreen-only {
        --columnGap: 1.5rem;
    }
}

@media screen and (min-width: 1408px) {
    .columns.is-variable.is-6-fullhd {
        --columnGap: 1.5rem;
    }
}

.columns.is-variable.is-7 {
    --columnGap: 1.75rem;
}

@media screen and (max-width: 768px) {
    .columns.is-variable.is-7-mobile {
        --columnGap: 1.75rem;
    }
}

@media screen and (min-width: 769px), print {
    .columns.is-variable.is-7-tablet {
        --columnGap: 1.75rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .columns.is-variable.is-7-tablet-only {
        --columnGap: 1.75rem;
    }
}

@media screen and (max-width: 1023px) {
    .columns.is-variable.is-7-touch {
        --columnGap: 1.75rem;
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-variable.is-7-desktop {
        --columnGap: 1.75rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .columns.is-variable.is-7-desktop-only {
        --columnGap: 1.75rem;
    }
}

@media screen and (min-width: 1216px) {
    .columns.is-variable.is-7-widescreen {
        --columnGap: 1.75rem;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
    .columns.is-variable.is-7-widescreen-only {
        --columnGap: 1.75rem;
    }
}

@media screen and (min-width: 1408px) {
    .columns.is-variable.is-7-fullhd {
        --columnGap: 1.75rem;
    }
}

.columns.is-variable.is-8 {
    --columnGap: 2rem;
}

@media screen and (max-width: 768px) {
    .columns.is-variable.is-8-mobile {
        --columnGap: 2rem;
    }
}

@media screen and (min-width: 769px), print {
    .columns.is-variable.is-8-tablet {
        --columnGap: 2rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .columns.is-variable.is-8-tablet-only {
        --columnGap: 2rem;
    }
}

@media screen and (max-width: 1023px) {
    .columns.is-variable.is-8-touch {
        --columnGap: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-variable.is-8-desktop {
        --columnGap: 2rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .columns.is-variable.is-8-desktop-only {
        --columnGap: 2rem;
    }
}

@media screen and (min-width: 1216px) {
    .columns.is-variable.is-8-widescreen {
        --columnGap: 2rem;
    }
}

@media screen and (min-width: 1216px) and (max-width: 1407px) {
    .columns.is-variable.is-8-widescreen-only {
        --columnGap: 2rem;
    }
}

@media screen and (min-width: 1408px) {
    .columns.is-variable.is-8-fullhd {
        --columnGap: 2rem;
    }
}

/*Grid css ends here*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    background: #f4f4f4;
    font-size: 16px;
    line-height: 1.7;
    font-family: "Work Sans", sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.5;
	margin: 0 0 16px 0;;
    font-family: 'Oswald', sans-serif;
    color: #000;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}



.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.site-wrapper {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.site-wrapper:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.header {
    position: relative;
    z-index: 99;
    padding: 0px 0;
    width: 100%;
    left: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
}

/*header navbar*/

.header-navbar {
    padding: 15px 0;
    
}
.menu-btn {
    display: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
.logo h1 {
    margin-bottom: 0;
}
.logo h1 a{
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    opacity: 1;
}

.navigation {
    display: flex;
    
}

.navigation li {
    list-style: none;
    padding: 0;
}

nav a {
    color:#000;
    opacity: 0.6;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 4px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 400;
}



.dropdown{
    position: relative;

}

.dropdown-content  {
    position: absolute;
    background: #000000;
   min-width: 190px;
   display: none;
   top: 35px;
   border-radius: 8px;
   padding: 20px 0;
}

.dropdown-content a{
    display: block;
    /* padding: 12px 12px; */
    font-size: 14px;
    color: #fff !important;
    opacity: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover {
    color:#71bc42 !important;
}

.navigation .active {
    color: #71bc42 !important;
}

/* .navigation li:hover a {
    color: #000 !important;
    opacity: 1;
} */

.navigation li .btn-nav {
    background: #71bc42 ;
    color: #fff !important;
    padding: 12px 6px;
    font-size: 16px;
    opacity: 1;
}

.navigation li .btn-nav:hover {
    color: #fff !important;
}
/* slider section start here */
/* headr-banner-page */

img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.rj-slide {
    position: relative;
    
}
.rj-slide.slick-slide {
    position: relative;
    background-size: cover;
    height: 750px;
    
    
}
.rj-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    
}


.header-content {
    position: absolute;
    top:0;
    width: 100%;
    text-align: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    align-items: center;
}

.header-info h1 {
    font-size: 64px;
    color: #fff;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
}

.header-info p {
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header-info p span {
    border-bottom: 1px dotted #fff;
}



.slider-pagenation {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	width: 100%;
	position: absolute;
	top: 6%;
	padding: 0 10px;
}

.slider-pagenation a {

    color: #fff;
    top: 50%;
    padding: 0px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 0%;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 25px;

}

.slider-pagenation a:hover {
	box-shadow: inset 0 0 0 25px #000;
}



.slick-arrow.slick-disabled {
	visibility: hidden;
	opacity: 0;
}

/* cross-section start here */

.cross-section {
    height: 70px;
    position: relative;
    z-index: 4;
    border: 1px solid red;
}

.cross-section::before {
    position: absolute;
    width: 200%;
    content: "";
    background: #fff;
    top: -110px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(-5deg) translateX(-20%);
    -ms-transform: rotate(-5deg) translateX(-20%);
    transform: rotate(-5deg) translateX(-20%);
}
/* services section start form here */
.services-section,.product-section,.counter-section,.testimonial,.blog {
    padding: 112px 0;
}
.first-section {
    z-index: 5;
    position: relative;
    margin-top: -150px;
    
}

.center  {
    text-align: center;
   
}

.services-title h3 {
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 8px;
}

.services-title h2 {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 48px;
}

.services-title.center h2::before {
    content: "";
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #71bc42;
}


.services .column {
    text-align: center;
    border-right: 1px solid #dee2e6;
}

.services .column:last-child {
    border-right: none;
}

.services span {
    color: #71bc42!important;
    font-size: 56px;
    font-weight: 300;
    line-height: 1.2;
}
.services h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 16px 0;
}
/* Design Services section start here */

.responsive-design-section .columns {
    margin-bottom: 0;
    margin-top: -25px;
    
}
.design-content {
    flex: 1;
    padding: 48px 0 0 0;
}

.template-design-content {
    flex: 1;
    padding: 75px 0 0 0 ;
}

.design-content > div {
    max-width: 80%;
    float: left;
    margin-left: 50px;
    
}

.template-design-content > div {
    
    max-width: 80%;
    margin-left: 70px;
}

.design-img {
    flex: 1;
}

.design-img img {
    display: block;
}

.design-content {
    padding: 60px 0;
}
.design-title h2 {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 48px;
}
.design-title h2::before {
    content: "";
    left: 20px;
    bottom: 0;
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #71bc42;
}

.design-title h3 {
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 8px;
}
/* product slider start here */

.product-post {
    padding: 0 20px;
    position: relative;
    overflow: hidden;
}

.product-inner-content {
    padding: 30px 40px;
}

.product-inner-content h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.product-inner-content .btn-nav {
    background: #71bc42 ;
    color: #fff !important;
    padding: 10px 24px;
    font-size: 16px;
    opacity: 1;
    text-decoration: none;
}

.product-post:hover {
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1);
}
.product-slider-container {
    position: relative;
}
.product-slider-container .slider-pagenation{
    display: flex;
	justify-content: space-between;
	left: 0;
	width: 100%;
	position: absolute;
	top:50%;
	padding: 0 10px;
}

.product-slider-container .slider-pagenation a {
    color: #000000 !important;
    background: #fff;
    font-size: 20px;
    font-weight: 400;
}

.product-slider-container .slider-pagenation a:hover {
    /* background: #71bc42 !important; */
    color: #fff !important;
    box-shadow: inset 0 0 0 25px #71bc42;
} 

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li {
    list-style: none;
    
}

ul.slick-dots {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin: -40px 0;
}

.slick-dots button {
    position: relative;
    font-size: 0;
    border-radius: 50%;
    /* padding: 2px; */
    margin: 0 5px;
    background: #ccc;
    border: 3px solid #ccc;

}

.slick-dots button:hover {
    border: 5px solid #71bc42;
    ;
}

 .slick-active button {
    border: 5px solid #71bc42;
    
}

/* counter section start form here */

.counter-section .design-title p {
    margin-bottom: 48px;
}

.counter .caption {
    display: block;
}

.caption {
    font-size: 16px;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.counter .number {
    font-family: "Oswald", arial, sans-serif;
    font-size: 64px;
    color: #71bc42;
}

.template-counter {
    margin: 0 0 0 95px;
}

/* testimonial section start form here */

.testi-img {
    max-width: 100%;   
    height: auto; 
   
   
}

.testi-img img {
    border-radius: 50%;
    /* display: block; */
    margin: 0 auto;
    flex: 0 0 80px;
    width: 10%;
}

.testi-content h5 {
   margin: 24px 0;
   font-size: 24px;
   font-weight: 400;
   line-height: 1.2;
}

.testi-content blockquote {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 16px;
}

.testimonial-slider-container .slider-pagenation {
    top: 64%;
}

.testimonial-slider-container .slider-pagenation .button-prev {
    left: 20px;
}

/* Blog post section start form here */

.single-blog {
    transition: all 0.3s ease;
}



.single-blog:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1);

}


.blog-link{
    padding: 20px 25px 18px;
}

.blog-link .categories a {
    font-size: 14px;
    color: #6673c7;
    text-decoration: none;
    margin-bottom: 5px;
}

.blog-link h2 {
    line-height: 1.2;
    margin-bottom: 8px;
   
}

.blog-link h2:hover,.blog-link a:hover{
    color: #4f832e;
}

.blog-link h2 a {
    font-size: 20px;
    text-decoration: none;
    color: #71bc42;
    text-decoration: none;
    
    
}

.date-author span, .date-author span a {
   color: inherit;
    text-decoration: none;
    
}

.date-author {
    margin-bottom: 16px;
}

.blog-link a {
    color: #71bc42;
    text-decoration: none;
}

/* project section start form here */

.project {
    background: #71bc42!important;
    padding: 48px 0;
}

.project h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 24px;
    font-weight: 400;
}

.project a {
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-weight: 400;
}

.project a:hover {
    color: #71bc42;
    background: #fff;
}
/* footer section start here */

.site-footer {
    padding: 64px 0;
    background: #343a40!important;
    color: rgba(255, 255, 255, 0.5);
}
.site-footer .footer-title h3 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.about-column {
    margin-right: 100px;
}

.footer-btn a {
    text-decoration: none;
    color: #fff !important;
    padding: 8px 15px;
    background: #71bc42;
}

.site-footer a {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    text-transform: capitalize;

}

.site-footer ul {
    list-style: none;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.footer-form {
    display: flex !important;
}

.footer-form input[type="email"] {
    padding: 16px 24px;
    outline: none;
    letter-spacing: 2px;
    border: none;
    flex-basis: 100%;
    background: transparent;
    border: 1px solid #ced4da;
    font-style: italic;
    font-size: 16px;
}

.footer-form input[type="submit"] {
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 14px 10px;
    border: transparent;
    background: #71bc42;
    flex-basis: 30%;
    margin-left: -2em;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    cursor: pointer;
}

.social-icons a {
    margin-right: 20px;
}

.site-footer a:hover {
    color: #fff;
}
.copyright {
    padding-top: 48px;
    margin-top: 48px;
}
.copyright i {
    color: #dc3545!important;
}

/* services page styleing start form here */

.services-sec , .blog-sec {
    margin-top: 30px;
}



.custom-pagination span, .custom-pagination a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
.custom-pagination a {
    border-radius: 50%;
    background-color: transparent;
    color: #71bc42;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* padding: 0 20px; */
    margin-right: 10px;
    text-decoration: none;
}

.custom-pagination a.current {
    background: #e6e6e6;
    border-radius: 50%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.custom-pagination a:hover {
    background: #71bc42;
    color: #fff;
}
.custom-pagination {
    padding-top: 98px;
}

/* contact page styling start form here */

.contact-form {
    padding-top:150px;
}

.form-control input, .form-control textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da; 
   border-radius: 0;
}

.form-control input {
    height: 47px;
}


.form-control label {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.form-control {
    margin-bottom: 16px;
}

.form-control .contact-btn {
    background-color: #71bc42;
    border: none;
    color: #fff;
    padding: 8px 24px;
    font-size: 16px;
    height: 47px;
    text-transform: capitalize;

}

.form-control .contact-btn:hover{
    background: #4f832e;
}

.contact-form form {
    padding: 48px;
}

.contact-info h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.contact-info h4 {
    color:rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.contact-info .info {
    margin-bottom: 24px;
}

.contact-info a {
    text-decoration: none;
    color: #71bc42;
}

.testi-bg {
    background: #343a40!important;
    color: #fff !important;
}

.testi-bg h2, .testi-bg h5 {
    color: #fff;
}



